.container {
  overflow: hidden;
}

.page-button {
  background-color: #ccc;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}

.page-button:hover {
  animation: jiggle-rotate 1s ease-in-out infinite;
  background-color: #afaeae;
}

@keyframes jiggle-rotate {
  0%,
  100% {
    transform: translateX(0) rotate(0deg);
  }
  25%,
  75% {
    transform: translateX(-3px) rotate(-5deg);
  }
  50% {
    transform: translateX(3px) rotate(5deg);
  }
}

.page-button:disabled {
  display: none;
}
